@import "tailwindcss";

@theme {
  --color-background: #0c1609;
  --color-surface: #0c1609;
  --color-surface-bright: #323c2d;
  --color-surface-container: #182214;
  --color-on-surface: #dae6d0;
  --color-on-surface-variant: #baccb0;
  --color-primary: #efffe3;
  --color-primary-container: #39ff14;
  --color-on-primary-container: #107100;
  --color-secondary: #ffb4aa;
  --color-secondary-container: #c5020b;
  --color-tertiary-container: #ffda70;
  --color-outline: #85967c;
  --color-outline-variant: #3c4b35;

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-headline: var(--font-anybody), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-jetbrains), ui-monospace, monospace;
}

@utility pixel-border {
  border: 3px solid var(--color-outline-variant);
  box-shadow:
    -4px 0 0 0 var(--color-surface),
    4px 0 0 0 var(--color-surface),
    0 -4px 0 0 var(--color-surface),
    0 4px 0 0 var(--color-surface);
}

body {
  background-color: var(--color-background);
  color: var(--color-on-surface);
}
